<h1>Grid#score</h1>
<p>Find me in app/views/grid/score.html.erb</p>

<h3 class="grid"> Your guess :  <%= @guess.upcase %></h3>
<h3 class="grid"> Your score:  <%= @results[:score] %> Your time:  <%= @results[:time] %> Translation:  <%= @results[:translation] %>   </h3>
<h3 class = "alert alert-success text-center"> <%= @results[:message].capitalize %></h3>
